@tailwind preflight;
@tailwind components;
@tailwind utilities;

$background: rgba(245, 249, 251, 1);
$text-color: rgba(60, 60, 90, 1);
$brand-primary: #3cbdb2;
$brand-danger: red;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$max-width: $lg;

.text-shadow {
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.left-aligned {
    margin-left: 0 !important;
    padding-left: 0 !important;
}
